@use "../utils/main" as utils;

// Layout styles
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("../../assets/image/maison/fond_ecran_villa.jpg") center/cover no-repeat;
    padding: 2rem 1rem;



    &__title {
        font-family: utils.$font-title;
        font-size: 4rem;
        text-align: center;
        color: utils.$neutral-100;
        text-transform: none;
        letter-spacing: 3px;
    }

    &__cadre {
        width: 90%;
        max-width: 900px;
        padding: 3rem;
        margin: 2rem auto;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.08);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;


        & img {
            width: 50%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            transition: transform 0.4s;

            &:hover {
                transform: scale(1.02);
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            font-size: 1.05rem;
            line-height: 1.6;
            color: utils.$neutral-900;
            text-align: justify;
            font-weight: 550;

            & a {
                background-color: utils.$primary;
                color: utils.$neutral-100;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: utils.$secondary;
                }
            }
        }

    }
}