@use '../utils/main.scss' as utils;

/* ---------- FOOTER ---------- */
.footer {
  background: utils.$primary;
  color: utils.$neutral-100;
  padding: 0.5rem 0.75rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;

  &__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* réseaux | logo | formulaire */
    align-items: center;
    /* centrage vertical */
    justify-items: center;
    /* centrage horizontal ds chaque colonne */
    gap: 1rem;
    padding: 0.25rem 0;
  }

  /* ---------- RÉSEAUX ---------- */
  &__image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.4rem;
    margin-left: 0.5rem;

    &--link {
      color: whitesmoke;
      transition: color 0.3s, transform 0.2s;

      &:hover {
        color: hsl(157, 29%, 56%);
        transform: scale(1.15);
      }
    }
  }
}

/* ---------- DROITS ---------- */
&__copyright {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  opacity: 0.7;
  text-align: center;
}


/* mobile */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}