@use '../utils/main.scss' as utils;

/* ---------- FOOTER ---------- */
.footer {
  background: utils.$primary;
  color: utils.$neutral-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  padding: 1rem 2rem;

  &__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* réseaux | logo | formulaire */
    align-items: center;
    /* centrage vertical */
    justify-items: center;
    /* centrage horizontal ds chaque colonne */
    gap: 1rem;
    padding: 0.25rem 0;
  }

  /* ---------- RÉSEAUX ---------- */
  &__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    justify-self: end;

    &--link {
      text-align: right;
      color: whitesmoke;
      transition: color 0.3s, transform 0.2s;

      &:hover {
        color: hsl(157, 29%, 56%);
        transform: scale(1.15);
      }
    }
  }
  &__copyright {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    opacity: 0.7;
    justify-self: start;
  }
}

/* ---------- DROITS ---------- */

/* mobile */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
