@use '../utils/main.scss' as utils;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: utils.$primary;
    color: utils.$neutral-100;
    padding: 1rem 2rem;
    /* ↓ permet le retour à la ligne ↓ */
    grid-template-rows: auto;
    min-height: 44px;
    &__brand-site {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        &--title {
            font-size: 1.5rem;
            font-weight: bold;
        }
        &--logo {
            width: 50px;
            border-radius: 50%;
        }
    }

    &__logo {
        width: 50px;
        border-radius: 50%;
        margin-right: 3rem;
    }

}