@use '../utils/main.scss' as utils;

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: utils.$font-text;
    background-color: utils.$neutral-100;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}